@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Data from MongoDB</h2>

@* <table class="table">
    <thead>
        <tr>
            <th>Field1</th>
            <th>Field2</th>
            <th>Field3</th>
            <!-- Add more fields as necessary -->
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.Documents)
        {
            <tr>
                <td>@doc["Field1"]</td>
                <td>@doc["Field2"]</td>
                <td>@doc["Field3"]</td>
                <!-- Add more fields as necessary -->
            </tr>
        }
    </tbody>
</table> *@

<div class="text-center">
    <h1 class="display-4">Welcome to Dear Friend</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
</div>
